<div class="align-self-center">
  <form class="w-50 col-lg-6 offset-lg-3 mt-5 p-5">
    <div class="form-group ">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group ">
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" [routerLink]="['/advertisements']" (click)="signup(username, email, password, phoneNumber)">Submit</button>
  </form>
</div>
