<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form #login="ngForm" (ngSubmit)="onSubmit(logemail, logpassword)">
      <div class="form-group">
        <label for="loginEmail">Email</label>
        <input type="email" name="logemail" ngModel required #logemail="ngModel" class="form-control" id="loginEmail" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" name="logpassword" ngModel required #logpassword="ngModel" class="form-control" id="loginPassword" placeholder="Password">
      </div>
      <button type="submit" [disabled]="login.invalid" class="btn btn-primary">Login <i class="fas fa-arrow-alt-circle-right" style="color: white"></i></button>
      <h1>{{logemail.value}}</h1>
      <h1>{{logpassword.value}}</h1>
    </form>
  </div>
</div>
