<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register new User</h3>
    <form #register="ngForm" (ngSubmit)="onSubmit(register)">
      <div class="form-group">
        <label for="registerLogin">Email</label>
        <input type="email" name="regemail" ngModel required #regemail="ngModel" class="form-control" id="registerLogin" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" name="regpassword" ngModel required #regpassword="ngModel" class="form-control" id="registerPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="registerPassword2">Password</label>
        <input type="password" name="regpassword2" ngModel required #regpassword2="ngModel" class="form-control" id="registerPassword2" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="registerName">Name</label>
        <input type="text" name="regname" ngModel required #regname="ngModel" class="form-control" id="registerName" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="registerPhone">Phone</label>
        <input type="text" name="regphone" ngModel required #regphone="ngModel" class="form-control" id="registerPhone" placeholder="Enter phone">
      </div>
      <button type="submit" [disabled]="register.invalid" class="btn btn-primary">Register <i class="fas fa-arrow-alt-circle-right" style="color: white"></i></button>
    </form>
  </div>
</div>
