<div *ngIf="userProfile">
  <h2>{{userProfile.user.username | uppercase}} Details</h2>
  <div><span>id: </span>{{userProfile.id}}</div>
  <div>
    <label>name:
      <p>{{userProfile.user.username}}</p>
    </label>
  </div>
  <div>
    <label>login:
      <p>{{userProfile.user.email}}</p>
    </label>
  </div>
  <div>
    <label>password:
      <p>{{userProfile.user.password}}</p>
    </label>
  </div>
  <div>
    <label>phone:
      <p>{{userProfile.phoneNumber}}</p>
    </label>
  </div>
  <button (click)="save()">save</button>
</div>
