<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>login:
      <input [(ngModel)]="user.login" placeholder="login"/>
    </label>
  </div>
  <div>
    <label>password:
      <input [(ngModel)]="user.password" placeholder="password"/>
    </label>
  </div>
  <div>
    <label>phone:
      <input [(ngModel)]="user.name" placeholder="phone"/>
    </label>
  </div>
  <button (click)="save()">save</button>
</div>
