<ul class="advertisements list-group border border-5 border-dark mt-2">
  <li *ngFor="let advertisement of advertisements" style="text-align: left; margin-down: 3%">
    <a routerLink="/my-advertisements/{{advertisement.id}}" class="list-group-item list-group-item-action" style="height: auto">
      <img class="image" src="{{advertisement.imageBase}}" style=""><br>
      <h5 class="brand">{{advertisement.brand.toUpperCase()}} <h6 class="model">{{advertisement.model}}</h6></h5>
      <h6 class="price">{{advertisement.price}} ₸</h6>
      <p class="description">Description: {{advertisement.description}}</p>
    </a>
  </li>
</ul>
